:root {
    --main-bg-color: #F5F9FB;
    --primary-color: #004AAD;
    --secondary-color: #FF02DE;
    --tertiary-color: #B2D9E6;
    --additional-color: #0097B3;
  }

.NavBar {
    background-color: #fff;
    padding: 10px;
}

.NavLink {
    text-decoration: none;
}

.PrimTextCol {
    color: var(--primary-color);
}
.SecTextCol {
    color: var(--secondary-color);
}
.AddTextCol {
    color: var(--additional-color);
}

.PrimHover:hover {
    color: var(--primary-color);
}
.SecHover:hover {
    color: var(--secondary-color);
}

.hello {
    color: red;
}