.NavBar {
    background-color: #fff;
    padding: 10px;
}

.NavLink {
    text-decoration: none;
}

.PrimTextCol {
    color: var(--primary-color);
}
.SecTextCol {
    color: var(--secondary-color);
}
.AddTextCol {
    color: var(--additional-color);
}

.PrimHover:hover {
    color: var(--primary-color);
}
.SecHover:hover {
    color: var(--secondary-color);
}
